<div *ngIf="found && movie" class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img [src]="movie.Poster" [alt]="movie.Title">
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-4 heading">Title</div>
                <div class="col-md-8">{{ movie.Title }}</div>
            </div>
        
            <div class="row">
                <div class="col-md-4 heading">Year</div>
                <div class="col-md-8">{{ movie.Year }}</div>
            </div>
        
            <div class="row">
                <div class="col-md-4 heading">Rated</div>
                <div class="col-md-8">{{ movie.Rated }}</div>
            </div>
        
            <div class="row">
                <div class="col-md-4 heading">IMDB Rating</div>
                <div class="col-md-8">{{ movie.imdbRating }}</div>
            </div>
        
            <div class="row">
                <div class="col-md-4 heading">Plot</div>
                <div class="col-md-8">{{ movie.Plot }}</div>
            </div>

            <!-- Buttons -->
            <div class="row" *ngIf="isFavorite && isSeen">
                <div class="col-sm-6 button-wrapper">
                    <button (click)="unsave()" class="btn btn-danger" *ngIf="isFavorite.favorite">
                        <i class="fa fa-heart"></i> Remove from saved
                    </button>
                    <button (click)="save()" class="btn btn-danger" *ngIf="!isFavorite.favorite">
                        <i class="fa fa-heart"></i> Save
                    </button>
                </div>
                <div class="col-sm-6 button-wrapper">
                    <button (click)="see()" class="btn btn-info" *ngIf="!isSeen.seen"><i class="fa fa-plus"></i> Add to seen</button>
                    <button (click)="unsee()" class="btn btn-info" *ngIf="isSeen.seen"><i class="fa fa-times"></i> Remove from seen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!movie && found" class="jumbotron">
    <h2 style="text-align: center;"><i class="fa fa-spinner fa-spin"></i></h2>
</div>

<div *ngIf="!found" class="jumbotron">
    <h2>Oops</h2>
    <h4>Coulnd't find that movie. Make sure the address is correct</h4>
</div>