<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">Hooked</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [class.active]="currentRoute.startsWith('/home')">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" [class.active]="currentRoute.startsWith('/saved')">
                <a class="nav-link" routerLink="/saved">Saved movies</a>
            </li>
            <li class="nav-item" [class.active]="currentRoute.startsWith('/seen')">
                <a class="nav-link" routerLink="/seen">Seen movies</a>
            </li>
            <li class="nav-item" [class.active]="currentRoute.startsWith('/about')">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" (submit)="searchSubmit($event)">
            <input class="form-control mr-sm-2" type="text" placeholder="Search for movies" name="movieSearchField" [value]="query">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>