
<div class="jumbotron" *ngIf="error" style="margin-top: 30px">
    <h1 *ngIf="error === 'not found'">Whoops! Couldn't find movies with that title</h1>
    <h1 *ngIf="error === 'no query'">Please enter a search term first</h1>
</div>
<div *ngIf="error === null" class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let movie of results">
        <app-movie [movie]="movie"></app-movie>
    </div>
</div>